/* My Notes => 400, 500, 700  */
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fafafa;
}

.blob {
  width: 45rem;
  height: 75vh;
  position: fixed;
}

.blob-l {
  border-radius: 0 0 50rem 50rem;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #8838f0), to(#e942f0));
  background: linear-gradient(0deg, #8838f0 20%, #e942f0 100%);
  z-index: 9;
  left: -30rem;
  top: -20rem;
}

@media (min-width: 1000px) {
  .blob-l {
    left: -10rem;
    top: 0;
  }
}

.blob-r {
  border-radius: 50rem 50rem 0 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #8838f0), to(#e942f0));
  background: linear-gradient(0deg, #8838f0 20%, #e942f0 100%);
  opacity: 0.04;
  right: -30rem;
  bottom: -20rem;
}

@media (min-width: 1000px) {
  .blob-r {
    right: -15rem;
    bottom: 0;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.5rem;
  position: relative;
  z-index: 99;
  width: 80%;
  max-width: 82rem;
  margin: 7rem auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1000px) and (min-height: 500px) {
  .hero {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero .mobile {
    margin: 0;
  }
}

.hero .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1000px) {
  .hero .hero-text {
    text-align: left;
  }
}

.hero .hero-text .hero-text__heading {
  font-size: 3.75rem;
  font-weight: 500;
  color: #3e2753;
}

.hero .hero-text .hero-text__paragraph {
  max-width: 45ch;
  line-height: 1.6;
  color: #a39daa;
}

i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.mobile {
  font-size: 1.4rem;
  background-color: #f5f3f7;
  width: 30rem;
  height: 58rem;
  margin: auto;
  border-radius: 3.75rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.2) 0px 22px 27px -5px, rgba(0, 0, 0, 0.25) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.2) 0px 22px 27px -5px, rgba(0, 0, 0, 0.25) 0px 8px 16px -8px;
  border: 1.2rem solid #fff;
  position: relative;
  overflow: hidden;
}

.mobile::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  border-radius: 0 0 1.5rem 1.5rem;
  z-index: 999;
}

.m-header-container {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #8838f0), to(#e942f0));
  background: linear-gradient(90deg, #8838f0 20%, #e942f0 100%);
  border-radius: 0 0 7px 7px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 7.75rem;
  position: relative;
  -webkit-box-shadow: 0 2px 0 rgba(233, 66, 240, 0.75);
          box-shadow: 0 2px 0 rgba(233, 66, 240, 0.75);
}

.m-header-container .m-header {
  position: absolute;
  left: 1.25rem;
  right: 1.25rem;
  bottom: 0;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.m-header-container .m-header .details-icon {
  position: absolute;
  right: 0;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.bio .bio__avatar {
  width: 3.35rem;
  height: 3.35rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1.75px #fff;
          box-shadow: 0 0 0 1.75px #fff;
  margin-left: 1.5rem;
}

.bio .bio-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.25rem;
}

.bio .bio-text__username {
  font-weight: 500;
}

.bio .bio-text__status {
  font-size: 1rem;
  color: #d89eff;
}

.m-footer-container {
  bottom: -2.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 10rem;
  position: absolute;
  right: 1rem;
  left: 1rem;
  height: 4.5rem;
  padding: 1rem;
  gap: 0.7rem;
  z-index: 999;
}

.m-footer-container:hover {
  bottom: 1rem;
}

.m-footer-container .input-field {
  padding-left: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  outline: none;
}

.m-footer-container .input-field::-webkit-input-placeholder {
  font-weight: 400;
  color: #c6cacd;
}

.m-footer-container .input-field:-ms-input-placeholder {
  font-weight: 400;
  color: #c6cacd;
}

.m-footer-container .input-field::-ms-input-placeholder {
  font-weight: 400;
  color: #c6cacd;
}

.m-footer-container .input-field::placeholder {
  font-weight: 400;
  color: #c6cacd;
}

.m-footer-container .send-btn {
  font-size: 3rem;
  color: #3e2753;
}

.m-body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 8rem;
  padding: 1rem;
  overflow-y: auto;
  text-align: left;
  font-size: 1.15rem;
}

.m-body-container > * {
  cursor: pointer;
}

.m-body-container .i-message {
  color: #9241c8;
  background-color: #ede5f4;
  border-radius: 10px 10px 10px 1px;
  padding: 7.5px;
  max-width: 24ch;
  line-height: 1.4;
  -webkit-box-shadow: rgba(149, 157, 165, 0.07) 0px 8px 15px;
          box-shadow: rgba(149, 157, 165, 0.07) 0px 8px 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.m-body-container .i-message:hover {
  margin-left: 8px;
}

.m-body-container .x-message {
  color: #6e5d7e;
  background-color: #fffffe;
  margin-left: auto;
  border-radius: 10px 10px 1px 10px;
  padding: 7.5px;
  max-width: 24ch;
  line-height: 1.4;
  -webkit-box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.m-body-container .x-message:hover {
  margin-right: 8px;
}

.m-body-container .x-image-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.m-body-container .x-image-message > img {
  width: 5rem;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.m-body-container .x-image-message > img:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.m-body-container .x-image-message:hover {
  margin-right: 8px;
}

.m-body-container .i-task-message {
  position: relative;
  background: linear-gradient(-45deg, #8838f0 20%, rgba(233, 66, 240, 0.75) 100%);
  color: #f1e5fa;
  border-radius: 10px 10px 10px 1px;
  padding: 11.5px 7.5px;
  max-width: 80%;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(149, 157, 165, 0.15) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.15) 0px 8px 24px;
}

.m-body-container .i-task-message__price {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  position: absolute;
  right: 14px;
}

.m-body-container .i-task-message__text {
  margin-left: 2.25rem;
}

.task-1 label {
  background-color: transparent;
  border: 1px solid #ed9eff;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  position: absolute;
  width: 28px;
}

.task-1 label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7.5px;
  opacity: 0;
  position: absolute;
  top: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 12px;
}

.task-1 input[type="checkbox"] {
  visibility: hidden;
}

.task-1 input[type="checkbox"]:checked + label {
  background-color: #e66bf2;
  border-color: #e27feb;
}

.task-1 input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.task-2 label {
  background-color: transparent;
  border: 1px solid #ed9eff;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  position: absolute;
  width: 28px;
}

.task-2 label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7.5px;
  opacity: 0;
  position: absolute;
  top: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 12px;
}

.task-2 input[type="checkbox"] {
  visibility: hidden;
}

.task-2 input[type="checkbox"]:checked + label {
  background-color: #e66bf2;
  border-color: #e27feb;
}

.task-2 input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */